@import "../App";

.fullwidth-container {
  background-size: cover;
  margin-top: -3.56rem;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.cover-species-container {
  margin-left: 4.2rem;
  margin-top: 3.56rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  button:focus {
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
}

.species-description {
  line-height: 2.63rem;
  width: 35.25rem;
  margin-top: 4rem;
  font-size: 1.5rem;
}

.info {
  text-align: right;
  margin: 4.75rem 4.13rem;
}

.b-number {
  font-family: $Montserrat;
  font-size: 3.75rem;
  font-weight: 800;
  color: $text-white;
  margin-bottom: -1.3rem;
}
