@import "../App";

.left-right {
  width: 100%;
  display: flex;
}

.split {
  height: 34.4rem;
  width: 50%;
  z-index: 1;
  overflow-x: hidden;
  text-align: center;
}

/* Description of all species other than the first one */
.split-description {
  text-align: center;
  margin: 2.63rem 7.3rem 0;
  font-family: $Worksans;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: $text-white;
}

/* Control the left-right layout */
.split-species {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

/* Numbers and Descriptions */
.small-info {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-b-number {
  font-family: $Montserrat;
  font-size: 3rem;
  font-weight: 700;
  color: $text-white;
  margin: 0;
  line-height: 3.69rem;
}

.number-left {
  padding-right: 4.75rem;
}

.deaths {
  margin-left: 4.81rem;
}

.line {
  height: 2.38rem;
  border-left: solid $text-white 1px;
}
