@import "../App";

.more-container {
  display: flex;
  height: 12.69rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.more-container.wait {
  cursor: wait;
}

.more {
  text-transform: uppercase;
  height: 4.37rem;
  font-size: 1.69rem;
  font-weight: 300;
  padding: 0 2.3rem;
  line-height: 4.37rem;
  border: solid 0.5px #979797;
  color: $text-white;
  background-color: $bg-dark-green;
}
