$bg-dark-green: #171b1d;
$text-white: #ffffff;
$red: #fb7171;
$darker-red: #d34444;
$Montserrat: "Montserrat", sans-serif;
$Worksans: "Work Sans", sans-serif;

html,
body {
  font-family: $Worksans;
  background-color: $bg-dark-green;
  color: $text-white;
  font-size: 16px;
}

h1 {
  font-family: $Montserrat;
  font-size: 3.75rem;
  font-weight: 900;
  color: $text-white;
  margin-top: 0;
}

h2 {
  font-family: $Montserrat;
  font-size: 3.75rem;
  font-weight: 800;
  color: $text-white;
  margin-bottom: 0;
}

.text-regular {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}

.red-label {
  font-family: $Montserrat;
  color: $red;
  font-weight: 400;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  padding: 2.56rem 0;
  font-family: $Montserrat;
  font-size: 21px;
  /*
  background-color: blue;*/
  line-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  margin-right: 5.69rem;
  width: 13.7rem;
  height: 3.75rem;
  border: 1px solid $red;
  color: $red;
  text-align: center;
  vertical-align: middle;
  line-height: 3.75rem;
}

.footer-details {
  margin-left: 5.75rem;
}
