@import "./App";

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 100;
  transition: 0.2s;
  span:hover {
    cursor: pointer;
  }
}

.nav-text {
  font-family: $Montserrat;
  font-size: 1.3rem;
  font-weight: 400;
  color: $text-white;
  padding: 0.5rem 0.8rem;
  margin: 0 1rem;
}

.donate {
  border: 1px solid $text-white;
  border-radius: 0.25rem;
}

.icon {
  text-decoration: none;
  font-family: $Montserrat;
  font-size: 1.87rem;
  color: $text-white;
}

.down {
  background-color: $bg-dark-green;
  box-shadow: 0 0 50px 0 #080808;
}
